/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   
/* default is to hide these elements when javascript is not available */
.require-js {
    display:none;
}

iframe.require-no-js {
    width: 100%;
    height: 500px;
    border: none;
}
   
.flip-vertical-axis {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph; /*IE*/
    filter: fliph; /*IE*/
}

.flip-horizontal-axis {
    -moz-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    transform: scaleY(-1);
    -ms-filter: flipv; /*IE*/
    filter: flipv; /*IE*/
}

.flip-pos-diagonal-axis {
    -moz-transform: rotate(90deg) scaleX(-1);
    -webkit-transform: rotate(90deg) scaleX(-1);
    -o-transform: rotate(90deg) scaleX(-1);
    transform: rotate(90deg) scaleX(-1);
    /* This doesn't work so well in IE */
    /*IE*/
    /*-ms-filter: fliph progid:DXImageTransform.Microsoft.BasicImage(rotation=1);*/
    /*filter: fliph progid:DXImageTransform.Microsoft.BasicImage(rotation=1);*/
}

.rotate-90 {
    /* for firefox, safari, chrome, etc. */
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    /* for ie */
    -ms-transform:rotate(90deg);
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

.rotate-180 {
    /* for firefox, safari, chrome, etc. */
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    /* for ie */
    -ms-transform:rotate(180deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

.rotate-270 {
    /* for firefox, safari, chrome, etc. */
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    /* for ie */
    -ms-transform:rotate(270deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.inline {
	display:inline;
}
