---
layout: default
---
      <!-- <i class="icon-share-alt flip-pos-diagonal-axis pull-right" style="margin:-15px 2px 10px 0px"></i>
      <div class="pull-right" style="margin:-13px 5px 10px 0px">
        Feel free to contact me<span class="hidden-phone"> with any questions or engine photo requests</span>.
      </div> -->

      <div class="thumbnail"
         style="width:500px; text-align:center; margin:25px auto">
        <img src="{{ page.featured_engine_photo_url }}" alt="{{ page.featured_engine_name }} Engine"
           style="padding-bottom:0.5em" />
        Featured Engine: <strong>{{ page.featured_engine_name }}</strong>
      </div>

      <div id="content">
{{ content }}
      </div>

      <footer>
        <h3>Ready to order?  <a class="btn btn-info btn-large" href="order_info.html">Ordering Info</a></h3>
      </footer>

      <script>
        $engineTable = $('#content table');
        insertPicturesInTable($engineTable);
        
        $(function () {
          $('.footable').footable();
        });
      </script>
